.dropdown-time {
  display: inline-block;
}
.BlockOne{
  display: grid;
  width: 850%
}

.BlockTwo{
  display:grid;
  width: 50%
}

.BigBlock{
  display: grid;
  grid-template-columns: repeat(3,10%)
}
input{
  width: 15%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
